/*
    Created on : Sep 30, 2023, 5:03:51 PM
    Author     : bachLH
*/
@import url("https://fonts.googleapis.com/css?family=Archivo+Narrow:400,400i,500,500i,600,600i,700,700i");
:root {
	font-size: 16px;
	font-family: "Archivo Narrow", sans-serif;
	--text-primary: #eccfc5;
	--text-secondary: #f9672c;
	--bg-primary: #401d19;
	--bg-secondary: #250804;
	--bg-third: #863b32;
}
body {
	color: black;
	background-color: var(--bg-primary);
	margin: 0;
	padding: 0;
}
/*contain of web*/
main {
	position: absolute;

}

/*side bar config*/
.navbar, .topBar{
	position: fixed;
	background-color: rgba(64, 29, 25, 0.6);
	backdrop-filter: blur(30px);
}
.navbar {
	/* box */
	display: flex;
	justify-content: center;
	/* color */
	width: 5em;
	height: 100vh;
	z-index: 100;
	/* add animation open  for navbar  */
	transition: width 200ms ease;
}
.topBar {
	/* flex box */
	display: flex;
	justify-content: space-between;
	align-items: center;
	/* margin padding  */
	top:0;
	right:0;
	margin-left: 5rem;
	padding-top: 1rem;
	/* other */

	width: calc(100vw - 5rem);

	border-bottom:  2px solid rgba(255,255,255,0.1);
	box-shadow: 0 0 10px rgba(8,7,16,0.9);
	border-left: none;
	z-index: 50;
}

.navbar:hover{
	width: 15rem;
	justify-content: center;
}

.nav-icon {
	font-size: 2rem;
	color: #b6b6b6;
}
.img-icon{
	width: 50px;
	height: 50px;
	object-fit: cover;
	border-radius: 30px;
	
}
.nav-text{
	color: var(--text-primary);
	display: none;
	transition: width 200ms ease;
}
.navbar:hover .nav-text{
	display: flex;
	align-items: center;
	opacity: 1;
}

.navbar ul {
	display: flex;
	flex-direction: column;
	width: 100%;
	padding: 0;
	margin: 0;

}
.navbar li:last-child{
	margin-top: auto;
}

.navbar ul li {
	/* box */
	display: flex;
	justify-content:space-between;
	gap: 30px;
	/* padding margin */
	list-style: none;
	padding: 20px;
	/* other */
	cursor: pointer;
	transition: 500ms ease-in-out;
}

.navbar ul li i,.navbar ul li nav {
	color: var(--text-secondary);
	opacity: 0.5;
}

.navbar ul li:hover {
	background-color: var(--bg-secondary);
	color: var(--text-secondary);
}
.navbar ul li:hover i,.navbar ul li:hover nav {
	color: var(--text-secondary);
	opacity: 1;
}


.topBar-left {
	margin-left: 2rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 2rem;
}

.nav2-logo {
	text-decoration: none;
	font-weight: bold;
	font-size: 3rem;
	color: var(--text-secondary);
	margin-left: 10px ;
}
.nav2-tag {
	text-decoration: none;
	color: var(--text-secondary);
	transition: 200ms ease;
	padding: 0.2rem 0.5rem;
	border-radius: 10px;
	font-size: 18px;
}

.nav2-tag:hover {
	background-color: var(--bg-third);
	padding: 0.4rem 1rem;
	border-radius: 5px;
}

/* button add music  */
.topBar-right button {
	border: none;
	border-radius: 30px;
	/* color */
	background-color: var(--bg-third);
	color: var(--text-primary);
	/* marpad */
	padding: 15px;
	margin: 10px 10px;
	/* transition: ;   */
	transition: 1000ms ease;
}
.topBar-right button:hover {
	/* marpad */
	padding: 16px;
	color: var(--text-secondary);
}
.music-bar {
	/* box */
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	margin-left: 5rem;
	padding: 1rem;
	background-color: rgba(236, 207, 197, 0.6);
	backdrop-filter: blur(30px);
}
