<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>authenticateFilter</filter-name>
        <filter-class>filters.authenticateFilter</filter-class>
    </filter>
    <filter>
        <filter-name>LoginFilter</filter-name>
        <filter-class>filters.LoginFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>LoginFilter</filter-name>
        <url-pattern>/Admin/Admin1</url-pattern>
        <url-pattern>/playlist</url-pattern>
        <url-pattern>/infoUser</url-pattern>
        <url-pattern>/logout</url-pattern>
        <url-pattern>/pass</url-pattern>
        <url-pattern>/love1</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>authenticateFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>Admin1</servlet-name>
        <servlet-class>controllers.Admin.Admin1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Artist1</servlet-name>
        <servlet-class>controllers.Artist.Artist1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>User1</servlet-name>
        <servlet-class>controllers.User.User1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Home</servlet-name>
        <servlet-class>controllers.Home</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>controllers.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Playlist</servlet-name>
        <servlet-class>controllers.Playlist</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InforUser</servlet-name>
        <servlet-class>controllers.InforUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>controllers.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadFile</servlet-name>
        <servlet-class>controllers.Artist.UploadFile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MusicBar</servlet-name>
        <servlet-class>controllers.MusicBar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MusicBarController</servlet-name>
        <servlet-class>controllers.MusicBarController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Signup</servlet-name>
        <servlet-class>controllers.Signup</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Albums</servlet-name>
        <servlet-class>controllers.AlbumsCtrl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SongsCtrl</servlet-name>
        <servlet-class>controllers.SongsCtrl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ArtistsCtrl</servlet-name>
        <servlet-class>controllers.ArtistsCtrl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>forgetPass</servlet-name>
        <servlet-class>controllers.forgetPass</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoveCtrl</servlet-name>
        <servlet-class>controllers.LoveCtrl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchCtrl</servlet-name>
        <servlet-class>controllers.SearchCtrl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManagerAccount</servlet-name>
        <servlet-class>controllers.Admin.ManagerAccount</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>managerSongs</servlet-name>
        <servlet-class>controllers.Artist.managerSongs</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditAcc</servlet-name>
        <servlet-class>controllers.Admin.EditAcc</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Artist1</servlet-name>
        <url-pattern>/Artist/Artist1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>User1</servlet-name>
        <url-pattern>/User/User1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Home</servlet-name>
        <url-pattern>/Home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Playlist</servlet-name>
        <url-pattern>/playlist</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InforUser</servlet-name>
        <url-pattern>/infoUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadFile</servlet-name>
        <url-pattern>/Artist/UploadFile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MusicBar</servlet-name>
        <url-pattern>/MusicBar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MusicBarController</servlet-name>
        <url-pattern>/MusicBarController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Signup</servlet-name>
        <url-pattern>/signup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Albums</servlet-name>
        <url-pattern>/Albums</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SongsCtrl</servlet-name>
        <url-pattern>/Songs</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ArtistsCtrl</servlet-name>
        <url-pattern>/Artist</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>forgetPass</servlet-name>
        <url-pattern>/forgetPass</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoveCtrl</servlet-name>
        <url-pattern>/love1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchCtrl</servlet-name>
        <url-pattern>/search</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManagerAccount</servlet-name>
        <url-pattern>/Admin/managerAccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>managerSongs</servlet-name>
        <url-pattern>/Artist/managerSongs</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditAcc</servlet-name>
        <url-pattern>/Admin/EditAcc</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Admin1</servlet-name>
        <url-pattern>/Admin/Admin1</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
